// Bluenight color schemes
$powder-blue: #bee9e8ff;
$maximum-blue: #62b6cbff;
$indigo-dye: #1b4965ff;
$columbia-blue: #cae9ffff;
$carolina-blue: #5fa8d3ff;
$purple: #5a189aff;
$french-violet: #7b2cbfff;
$dark-cornflower-blue: #023e8aff;
$star-command-blue: #0077b6ff;
$blue-green: #0096c7ff;

// Yellowflames color schemes
$up-maroon: #780116ff;
$maximum-yellow-red: #f7b538ff;
$ochre: #db7c26ff;
$flame: #d8572aff;
$international-orange-golden-gate-bridge: #c32f27ff;
$orange-pantone: #ff5400ff;
$selective-yellow: #ffb600ff;
$dark-red: #941b0cff;
$bright-yellow-crayola: #f6aa1cff;

// Greengarden color schemes
$celadon: #99e2b4ff;
$turquoise-green: #88d4abff;
$eton-blue: #78c6a3ff;
$mint: #67b99aff;
$zomp: #56ab91ff;
$polished-pine: #469d89ff;
$illuminating-emerald: #358f80ff;
$celadon-green: #248277ff;
$skobeloff: #14746fff;
$skobeloff-2: #036666ff;  
$spanish-viridian: #007f5fff;
$spanish-green: #2b9348ff;
$green-ryb: #55a630ff;
$bitter-lemon: #bfd200ff;
$xanthic: #eeef20ff;
$maximum-yellow: #ffff3fff;

// Colorline color schemes
$smoky-black: #0f0a0aff;
$isabelline: #f5efedff;
$blue-munsell: #2292a4ff;
$kelly-green: #2bc016ff;
$violet-blue: #314cb6ff;
$egyptian-blue: #0a369dff;
$chocolate-web: #d96c06ff;
$imperial-red: #f02d3aff;
$gunmetal: #202c39ff;
$charcoal: #283845ff;
$paradise-pink: #e54f6dff;
$slimy-green: #119822ff;
$lime-green: #31cb00ff;

// Break Points

$sm-break-point: 576px;
$md-break-point: 768px;
$lg-break-point: 992px;
$xl-break-point: 1200px;

:root {

  /*************************** 
   * Bluenight color schemes *
   ***************************/
  --powder-blue: #{$powder-blue};
  --maximum-blue: #{$maximum-blue};
  --indigo-dye: #{$indigo-dye};
  --columbia-blue: #{$columbia-blue};
  --carolina-blue: #{$carolina-blue};
  --purple: #{$purple};
  --french-violet: #{$french-violet};
  --dark-cornflower-blue: #{$dark-cornflower-blue};
  --star-command-blue: #{$star-command-blue};
  --blue-green: #{$blue-green};

  /****************************** 
   * Yellowflames color schemes *
   ******************************/
  --up-maroon: #{$up-maroon};
  --maximum-yellow-red: #{$maximum-yellow-red};
  --ochre: #{$ochre};
  --flame: #{$flame};
  --international-orange-golden-gate-bridge: #{$international-orange-golden-gate-bridge};
  --orange-pantone: #{$orange-pantone};
  --selective-yellow: #{$selective-yellow};
  --dark-red: #{$dark-red};
  --bright-yellow-crayola: #{$bright-yellow-crayola};

  /***************************** 
   * Greengarden color schemes *
   *****************************/
  --celadon: #{$celadon};
  --turquoise-green: #{$turquoise-green};
  --eton-blue: #{$eton-blue};
  --mint: #{$mint};
  --zomp: #{$zomp};
  --polished-pine: #{$polished-pine};
  --illuminating-emerald: #{$illuminating-emerald};
  --celadon-green: #{$celadon-green};
  --skobeloff: #{$skobeloff};
  --skobeloff-2: #{$skobeloff-2};  
  --spanish-viridian: #{$spanish-viridian};
  --spanish-green: #{$spanish-green};
  --green-ryb: #{$green-ryb};
  --bitter-lemon: #{$bitter-lemon};
  --xanthic: #{$xanthic};
  --maximum-yellow: #{$maximum-yellow};

  /*************************** 
   * Colorline color schemes *
   ***************************/
  --smoky-black: #{$smoky-black};
  --isabelline: #{$isabelline};
  --blue-munsell: #{$blue-munsell};
  --kelly-green: #{$kelly-green};
  --violet-blue: #{$violet-blue};
  --egyptian-blue: #{$egyptian-blue};
  --chocolate-web: #{$chocolate-web};
  --imperial-red: #{$imperial-red};
  --gunmetal: #{$gunmetal};
  --charcoal: #{$charcoal};
  --paradise-pink: #{$paradise-pink};
  --slimy-green: #{$slimy-green};
  --lime-green: #{$lime-green};

  --bg-color-container: var(--chocolate-web);
  --profile-header-border: var(--egyptian-blue);
  --language-radio-group-bg: var(--egyptian-blue);
  --language-radio-label: #fff;
  --language-radio-checked-label: var(--egyptian-blue);
  --theme-radio-group-bg: tranparent; 
  --theme-radio-label-bg: var(--egyptian-blue);
  --theme-radio-label-text: var(--isabelline);
  --theme-radio-checked-label: var(--egyptian-blue)
  
}

// colorline
.smoky-black {
  color: var(--smoky-black);
}
.isabelline {
  color: var(--isabelline);
}
.blue-munsell {
  color: var(--blue-munsell);
}
.kelly-green {
  color: var(--kelly-green);
}
.violet-blue {
  color: var(--violet-blue);
}
.egyptian-blue {
  color: var(--egyptian-blue);
}
.chocolate-web {
  color: var(--chocolate-web);
}
.imperial-red {
  color: var(--imperial-red);
}
.gunmetal {
  color: var(--gunmetal);
}
.charcoal {
  color: var(--charcoal);
}
.paradise-pink {
  color: var(--paradise-pink);
}
.slimy-green {
  color: var(--slimy-green);
}
.lime-green {
  color: var(--lime-green);
}

.smoky-black-bg {
  background-color: var(--smoky-black);
}
.isabelline-bg {
  background-color: var(--isabelline);
}
.blue-munsell-bg {
  background-color: var(--blue-munsell);
}
.kelly-green-bg {
  background-color: var(--kelly-green);
}
.violet-blue-bg {
  background-color: var(--violet-blue);
}
.egyptian-blue-bg {
  background-color: var(--egyptian-blue);
}
.chocolate-web-bg {
  background-color: var(--chocolate-web);
}
.imperial-red-bg {
  background-color: var(--imperial-red);
}
.gunmetal-bg {
  background-color: var(--gunmetal);
}
.charcoal-bg {
  background-color: var(--charcoal);
}
.paradise-pink-bg {
  background-color: var(--paradise-pink);
}
.slimy-green-bg {
  background-color: var(--slimy-green);
}
.lime-green-bg {
  background-color: var(--lime-green);
}


// greengarden

.celadon {
  color: var(--celadon);
}
.turquoise-green {
  color: var(--turquoise-green);
}
.eton-blue {
  color: var(--eton-blue);
}
.mint {
  color: var(--mint);
}
.zomp {
  color: var(--zomp);
}
.polished-pine {
  color: var(--polished-pine);
}
.illuminating-emerald {
  color: var(--illuminating-emerald);
}
.celadon-green {
  color: var(--celadon-green);
}
.skobeloff {
  color: var(--skobeloff);
}
.skobeloff-2   {
  color: var(--skobeloff-2);
}
.spanish-viridian {
  color: var(--spanish-viridian);
}
.spanish-green {
  color: var(--spanish-green);
}
.green-ryb {
  color: var(--green-ryb);
}
.bitter-lemon {
  color: var(--bitter-lemon);
}
.xanthic {
  color: var(--xanthic);
}
.maximum-yellow {
  color: var(--maximum-yellow);
}


.celadon-bg {
  background-color: var(--celadon);
}
.turquoise-green-bg {
  background-color: var(--turquoise-green);
}
.eton-blue-bg {
  background-color: var(--eton-blue);
}
.mint-bg {
  background-color: var(--mint);
}
.zomp-bg {
  background-color: var(--zomp);
}
.polished-pine-bg {
  background-color: var(--polished-pine);
}
.illuminating-emerald-bg {
  background-color: var(--illuminating-emerald);
}
.celadon-green-bg {
  background-color: var(--celadon-green);
}
.skobeloff-bg {
  background-color: var(--skobeloff);
}
.skobeloff-2-bg {
  background-color: var(--skobeloff-2);
}
.spanish-viridian-bg {
  background-color: var(--spanish-viridian);
}
.spanish-green-bg {
  background-color: var(--spanish-green);
}
.green-ryb-bg {
  background-color: var(--green-ryb);
}
.bitter-lemon-bg {
  background-color: var(--bitter-lemon);
}
.xanthic-bg {
  background-color: var(--xanthic);
}
.maximum-yellow-bg {
  background-color: var(--maximum-yellow);
}

// yellowflame
.up-maroon {
  color: var(--up-maroon);
}
.maximum-yellow-red {
  color: var(--maximum-yellow-red);
}
.ochre {
  color: var(--ochre);
}
.flame {
  color: var(--flame);
}
.international-orange-golden-gate-bridge {
  color: var(--international-orange-golden-gate-bridge);
}
.orange-pantone {
  color: var(--orange-pantone);
}
.selective-yellow {
  color: var(--selective-yellow);
}
.dark-red {
  color: var(--dark-red);
}
.bright-yellow-crayola {
  color: var(--bright-yellow-crayola);
}

.up-maroon-bg {
  background-color: var(--up-maroon);
}
.maximum-yellow-red-bg {
  background-color: var(--maximum-yellow-red);
}
.ochre-bg {
  background-color: var(--ochre);
}
.flame-bg {
  background-color: var(--flame);
}
.international-orange-golden-gate-bridge-bg {
  background-color: var(--international-orange-golden-gate-bridge);
}
.orange-pantone-bg {
  background-color: var(--orange-pantone);
}
.selective-yellow-bg {
  background-color: var(--selective-yellow);
}
.dark-red-bg {
  background-color: var(--dark-red);
}
.bright-yellow-crayola-bg {
  background-color: var(--bright-yellow-crayola);
}

// bluenight

.powder-blue {
  color: var(--powder-blue);
}
.maximum-blue {
  color: var(--maximum-blue);
}
.indigo-dye {
  color: var(--indigo-dye);
}
.columbia-blue {
  color: var(--columbia-blue);
}
.carolina-blue {
  color: var(--carolina-blue);
}
.purple {
  color: var(--purple);
}
.french-violet {
  color: var(--french-violet);
}
.dark-cornflower-blue {
  color: var(--dark-cornflower-blue);
}
.star-command-blue {
  color: var(--star-command-blue);
}
.blue-green {
  color: var(--blue-green);
}

.powder-blue-bg {
  background-color: var(--powder-blue);
}
.maximum-blue-bg {
  background-color: var(--maximum-blue);
}
.indigo-dye-bg {
  background-color: var(--indigo-dye);
}
.columbia-blue-bg {
  background-color: var(--columbia-blue);
}
.carolina-blue-bg {
  background-color: var(--carolina-blue);
}
.purple-bg {
  background-color: var(--purple);
}
.french-violet-bg {
  background-color: var(--french-violet);
}
.dark-cornflower-blue-bg {
  background-color: var(--dark-cornflower-blue);
}
.star-command-blue-bg {
  background-color: var(--star-command-blue);
}
.blue-green-bg {
  background-color: var(--blue-green);
}