
@import 'variables';

.wrapper aside#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0px;
	
	background-color: $selective-yellow !important;
	color: white;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	z-index: -1;
	overflow-x: hidden;

	transition: width 0.7s linear, z-index 1s linear;

	.sidebar-heading {
		width: 100%;						
		display: flex;
		justify-content: space-between;
		padding: 5px 10px;	
		color: var(--bs-primary);	
	}

	&.active {		
		height: 100%;
		width: 350px;
		z-index: 10000;
		box-shadow: 1px 2px 30px 5px $smoky-black;
	}	

	a {
		text-decoration: none !important;
	}

	ul {
		width: 100%;
		padding: 10px 0px 5px 20px;
		background-color: $dark-cornflower-blue;
		border-bottom: 2px solid #fff;
		li {
			width: 100%;	
			margin-bottom: 5px;

			a {
				color: #fff;
			}	

		}	
	}

	a.dropdown-toggle {
		position: relative;	
		text-align: start;
		padding: 10px;
		margin-bottom: 10px;
		display: block;
		font-size: 1.1rem;
		color: $dark-cornflower-blue;
		width: 100%;

		&::after {
			display: block;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%); 
		}
	}

	a.btn-link {
		position: relative;
		width: 100%;
		padding: 10px;
		font-size: 1.1rem;

		background-color: $dark-cornflower-blue;
		color: #fff;

		i {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
		}
	}	

}

.wrapper main {

	nav.navbar {
		button#navbarToggler {
			color: $dark-cornflower-blue;
			font-weight: bold;

			i::before {
				font-weight: bolder !important;
			}
		}
	}

	.navbar-brand {
		color: #ffe716 !important;
	}

}