@import 'variables';
@import 'reset';
@import 'media';
@import 'navbar';
@import 'dashboard';

body {
	width: 100%;
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: stretch !important;
	min-height: 100vh;

	/*main {
		height: 100vh;
	}*/
}

.select2.select2-container {
	width: 100% !important;
}

.select2-selection.select2-selection--single {
	height: 100%;
}
	
.mini-text-container {

	font-size: 0.8em !important;
	display: flex;
	justify-content: flex-end;
	overflow-x: auto !important;

	.mini-text-input {
		margin: 0 !important;
		padding: 0 !important;
		outline: none !important;		
		font-style: italic !important;	
		min-width: 50px !important;			
		width: auto;
		margin: 0 5px !important;

	}

}